@font-face {
    font-family: 'Kudry Weird Headline';
    src: url('../fonts/Kudry-WeirdHeadline.eot');
    src: url('../fonts/Kudry-WeirdHeadline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Kudry-WeirdHeadline.woff2') format('woff2'),
        url('../fonts/Kudry-WeirdHeadline.woff') format('woff'),
        url('../fonts/Kudry-WeirdHeadline.svg#Kudry-WeirdHeadline') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Webfont: Mak-Light */@font-face {
    font-family: 'MakLight';
    src: url('../fonts/MAK.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MAK.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/MAK.woff') format('woff'), /* Modern Browsers */
         url('../fonts/MAK.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Mak-Bold */@font-face {
    font-family: 'Mak';
    src: url('../fonts/MAK-bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MAK-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/MAK-bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/MAK-bold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

